html{
  height:100%
}

body {
  margin: 0px;
  height: 100%;
}

/* Force footer to bottom of the page */
.page-wrap {
  min-height: 100%;
  /* Match footer height */
  padding-bottom: 80px;
  position: relative;
}

.header {
  position: relative;
  background-image: url(../img/support_01.png);
  height: 100px;
  background-color: green;

}

.logo {
  position: absolute;
  top: 5px;
  left: 10%;
  float: left;
  display: inline-block;
}

.top-nav {
  padding-top: 60px;
}

ul {
  list-style: none;
}

.top-nav ul {
  background-color: none;
  text-align: center;
  padding: 0;

}
.top-nav li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: .8em;
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  position: relative;
}

.sidebar {
  padding-right: 10px;
  height: 100%; /* 100% Full-height */
  float:left;
  width: 20%
}

.nav-title {
  text-align: center;
  background-color: #0080c6;
  color: yellow;
  padding-top: 15px;
  padding-bottom: 15px;
}

.side-nav {
  color: black;
  background-color: #ebebeb;
  padding-top: 15px;
  padding-bottom: 135px;
}

.side-nav a:link {
    color: black;
}

/* visited link */
.side-nav a:visited {
    color: black;
}


/* selected link */
.side-nav a:active {
    color: grey;
}


.content {
margin-left: 23%;
}
.ng-scope {
  width: 100%;
}
.support-top {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px, blue;
}

.request {
 font-size: 1.5em;
 font-style: italic;
 color: #efb428;
 margin-right:  200px;

}

/* fix alignment */

.new-content {
  color: #0080c6;
  vertical-align: bottom;

}

.form-group {

}

.input {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: green;
}

.input-box {
  width: 60%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: green;
}

.form-wrapper {
  text-align: left;
  min-height: 600px;
  padding-bottom: 80px;
}

.ask {
  font-size: 1.2em;
  text-align: left;
  color: #00C618;
  font-family: SharpSansNo1;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
}
.help-button {
color: white;
text-align: center;
width: 76.5px;
height: 17.5px;
background-color: #cccccc;
}

.warning {
  background-color: red;
}

.errors {
  color: red;
}
.has-error {
  border: 2px solid red;
  color: red;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-image: url(../img/support_01.png);
  background-color: green;

}
