<div>
  <h1>FAQs</h1>
  <ul ng-repeat="faq in CTRL.faqs">
    <li>
      <p>
        <b> {{faq.id}}.  {{faq.question}} </b>
      </p>
      <p>
        {{faq.answer}}
      </p>
    </li>
  </ul>
</div>
