<div class="support-top">
  <span class="request">Request Support</span><span class="new-content">Want to request an asset that is not currently available?</span>
</div>
<div class="form-wrapper">
<div class="ask">
    What can we help you with?
</div>
<form name="problemForm" ng-submit="CTRL.submitForm(problemForm.$valid) " novalidate>
  <div class="form-group">
    <select class="issue" name="issue" ng-model="CTRL.problem.issue"required>
        <option value="" disabled selected>CHOOSE ISSUE</option>
        <option value="Asset Usage Approval">Asset Usage approval
        <option value="authorization">Authorization
        <option value="search">Search
        <option value="assets">Assets
    </select>
  </div>
  <div class="form-group">
      <input  class="input" name="email" type="email" ng-model="CTRL.problem.email" placeholder="EMAILADDRESS*" required ng-class="{'has-error': problemForm.email.$invalid && !problemForm.email.$pristine && CTRL.submitted}">

  </div>
  <div class="form-group">
      <input class="input" name="phone" type="text" ng-model="CTRL.problem.phone" placeholder="PHONE(XXX)XXX-XXXX">
  </div>
  <div class="form-group">
    <input class="input-box" name="body" type="textbox" ng-model="CTRL.problem.body" placeholder="Additional Notes" required>
  </div>
  <button class="help-button" type="submit" class="btn btn-primary">GET HELP</button>
  <p class="errors" ng-show="problemForm.email.$invalid && !problemForm.email.$pristine && CTRL.submitted" class="help-block">Please Enter a valid email.</p>
  <p class="errors" ng-show="problemForm.email.$pristine && CTRL.submitted" class="help-block">Please Enter an email address.</p>
  <p class="errors" ng-show="problemForm.issue.$pristine && CTRL.submitted" class="help-block">Please Enter an issue.</p>
  <p class="errors" ng-show="problemForm.body.$pristine && CTRL.submitted" class="help-block">please enter a note.</p>
</form>
</div>
